@let(format = new Intl.NumberFormat('de-DE', {style: 'currency', currency: 'EUR'}))
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>UULM LAN</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/status.css">
</head>

<body>
    <header>
        <h1>UULM LAN</h1>
    </header>    
</body>
</html>