.center-absolute .row {
    display: flex;
    justify-content: center;
    gap: var(--margin);
    max-height: 70%;
}

.big {
    flex: 2;
}

.small {
    flex: 1;
}

.panel {
    text-align: center;
}

.panel > * {
    margin: var(--margin);
}

.panel h1 {
    font-size: 38px;
}

.panel h2 {
    font-size: 32px;
    color: var(--accent);
}

.important {
    font-size: 24px;
    max-width: 80%;
    margin: var(--margin) auto;
    line-height: 40px;
}

.important > span {
    background-color: var(--background);
    padding: 2px;
    border-radius: 4px;
    border: 1px solid var(--accent);
    word-break: keep-all;
}

.summary {
    overflow-y: scroll;
}

.summary > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summary p {
    margin: 0;
}
