:root {
  --text: #e7e9f0;
  --background: #090b10;
  --primary: #a2aecd;
  --secondary: #38476f;
  --accent: #6e83bb;
}

body {
  color: var(--text);
  background-color: var(--background);
  
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
